<h1>お問い合わせ先</h1>
<br>
<h4>Anii (雪村・魁(さき)=スカイウォーカー)</h4>
<h7>e-mail: anii@ushinohi.com</h7><br>
<h7>Twitter: <%= link_to('@YSSkywalker', 'https://twitter.com/YSSkywalker') %></h7><br>

<h4>Taro (タロウ)</h4>
<h7>e-mail: tarou@ushinohi.com</h7><br>
<h7>Twitter: <%= link_to('@TaRo_SiBe', 'https://twitter.com/TaRo_SiBe') %></h7><br>

<h4>Mark</h4>
<h7>e-mail: mark@ushinohi.com</h7><br>
<h7>Twitter: <%= link_to('@lilac_hagikazu', 'https://twitter.com/lilac_hagikazu') %></h7>