<h1 class="members_title">メンバー紹介</h1>
<div class="members_main">
<div class="profile">
	<div class="profile_content">
		<img class="profile_pic" src="assets/profile_pic">
	</div>
	<div class="profile_content">
		<p>Anii (雪村・魁(さき)=スカイウォーカー)</p><br>
		<p>e-mail: anii@ushinohi.com</p><br>
		<p>Twitter: <%= link_to('@YSSkywalker', 'https://twitter.com/YSSkywalker') %></p><br>
	</div>
</div>

<div class="profile">
	<div class="profile_content">
		<img class="profile_pic" src="assets/profile_pic">
	</div>
	<div class="profile_content">
		<p>Taro (タロウ)</p><br>
		<p>e-mail: tarou@ushinohi.com</p><br>
		<p>Twitter: <%= link_to('@TaRo_SiBe', 'https://twitter.com/TaRo_SiBe') %></p><br>
	</div>
</div>

<div class="profile">
	<div class="profile_content">
		<img class="profile_pic" src="assets/profile_pic">
	</div>
	<div class="profile_content">
		<p>Mark</p><br>
		<p>e-mail: mark@ushinohi.com</p><br>
		<p>Twitter: <%= link_to('@lilac_hagikazu', 'https://twitter.com/lilac_hagikazu') %></p><br>
	</div>
</div>
</div>