<h1 class="project_title">プロジェクト</h1>

<div class="project_main">
<div class="project">
	<div class="project_content">
			<img class="project_pic" src="assets/.png">
	</div>
	<div class="project_content">
	<p class="project_name">3Dプリンター製作</p><br>
	<p>丑の日による最初のプロジェクト。ゼロの状態からものづくりを始めた私たちであったが、お金のない私たちは最新機器など買えるはずがなかった。「ならば自分で作ればいいじゃないか。」そんなクレイジーな発想から始まったプロジェクト第一号。</p><br>
	</div>
</div>

<div class="project">
	<div class="project_content">
		<img class="project_pic" src="assets/.png">
	</div>
	<div class="project_content">
		<p class="project_name">Webサイト製作</p><br>
		<p>もっと色々な人に知ってもらう為に3Dプリンターと同時進行でこの丑の日Webサイトを作っています。ハードウェアだけではなくソフトウエアにも挑戦しています。</p><br>
	</div>
</div>

</div>