<h1 class="project_title">プロジェクト</h1>

<div class="project_main">

<div class="project">
	<div class="printer_content">
			<img class="printer_pic" src="assets/.png">
	</div>
	<div class="printer_content">
	<p class="printer_name">3D プリンター製作</p><br>
	<p> 丑の日による最初のプロジェクト。ゼロの状態からものづくりを始めた私たちであったが、お金のない私たちは最新機器など買えるはずがなかった。「ならば自分で作ればいいじゃないか。」そんなクレイジーな発想から始まったプロジェクト第一号。</p><br>
	</div>
</div>

</div>