<h1 class="project_title">プロジェクト</h1>

<div class="project_main">
<div class="project">
	<div class="project_content">
			<img class="project_pic" src="assets/printer2.png">
	</div>

	<div class="project_content">
		<p class="project_name">3Dプリンター製作</p><br>
		<p class="project_description">丑の日による最初のプロジェクト。ゼロの状態からものづくりを始めた私たちであったが、お金のない私たちは最新機器など買えるはずがなかった。「ならば自分で作ればいいじゃないか。」そんなクレイジーな発想から始まったプロジェクト第一号。</p><br>
		<p class="project_description">YouTubeはこちら
		<%= link_to image_tag('youtube.png', width: '30', height: '30'), 'https://www.youtube.com/channel/UCNIXXbCX91p3pnZ-UsYA2oQ', target: "_blank" %>
		</p>
	</div>

</div>


<div class="project">
	<div class="project_content">
		<img class="project_pic" src="assets/website.png">
	</div>

	<div class="project_content">
		<p class="project_name">Webサイト製作</p><br>
		<p class="project_description">もっと色々な人に知ってもらう為に3Dプリンターと同時進行でこの丑の日Webサイトを作っています。ハードウェアだけではなくソフトウエアにも挑戦しています。</p><br>
	</div>
</div>


<div class="project">
	<div class="project_content">
		<img class="project_pic" src="assets/arduino.png">
	</div>

	<div class="project_content">
		<p class="project_name">Lチカ</p><br>
		<p class="project_description">Arduinoを使ってLEDを光らせるだけの丑の日では最短のプロジェクト。簡単すぎてプロジェクトとは言い辛いが、Arduinoの経験があまりない私たちはエラーに苦戦する。苦悩の末３色の信号を作り上げた。</p><br>
		<p class="project_description">YouTubeはこちら
		<%= link_to image_tag('youtube.png', width: '30', height: '30'), 'https://www.youtube.com/channel/UCNIXXbCX91p3pnZ-UsYA2oQ', target: "_blank" %>
		</p>
	</div>
</div>


</div>