<p class="title-logo-center">
	<img src="assets/ushinohi_title.png" alt="logo of Ushinohi Project"
	title="Ushinohi Project" class="title-logo"/></p>
<p>妄想ものづくり集団</p>
<a href="https://line.me/R/ti/p/%40zcz5807y"><img height="36" border="0" alt="Add friend" src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"></a>