<div class="top_main"></div>
<p class="title-logo-center">
	<img src="assets/ushinohi_title.png" alt="logo of Ushinohi Project"
	title="Ushinohi Project" class="title-logo"/></p>
<div class="top_main"></div>