<div class="top_main"></div>
<p class="title-logo-center">
	<img id="main-logo" src="assets/ushinohi_title.png" alt="logo of Ushinohi Project"
	title="Ushinohi Project" class="title-logo"/></p>
<div class="top_main"></div>
<h2 class="about_us">私たちについて</h2>
<p class="about_us_text"> 火星にロボットを送り込みたいと言う野望から始まったプロジェクト。</p>
