<div class="top_main"></div>
<p class="title-logo-center">
	<img id="main-logo" src="assets/ushinohi_title.png" alt="logo of Ushinohi Project"
	title="Ushinohi Project" class="title-logo"/></p>
<div class="top_main"></div>
<h2 class="about_us">私たちについて</h2>
<p class="about_us_text">「火星にロボットを送り込みたい」と言う野望から始まったプロジェクト。</p>
<p class="about_us_text">世界の巨大IT企業が集結するシリコンバレーと日本の電気街でもある秋葉原との国境をまたいだプロジェクトです。</p>

<p class="about_us_text">画期的でアイディア満載な私たちがモノづくりの楽しさや、大変さ、そして喜びなどをYoutubeなどを通して皆様に配信していきます。</p>
<div class="blank"></div>