/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar-ushinohi {
  background-color: #222;
  height: 6rem;
  padding: 0.5rem;
}
a img {
  border: none;
}
.header-logo {
	width: 4.84rem;
	height: 2.0rem;
}
.title-logo {
	width: calc(75vw);
	height: calc(25vw);
}
.title-logo-center {
	text-align:center;
}
.footer {
	background-color: #222;
	height: 8rem;
	padding: 2rem;
}
.fotter-rights {
	float: right;
	color: #FFF;
	background-color: #222;
}
.footer-logo{
	float: left;
	width: 9.68rem;
	height: 4.0rem;
	background-color: #222;
}
.top_main {
	height: calc((100vh - 17.2rem - 25vw)/2);
}
.contact_main {
	height: calc(100vh - 46.8rem)
}