.members_title {
	text-align: center;
	font-size: 4em;
	font-weight: bold;
}
.profile_pic {
	width: 14rem;
	height: 14rem;
	margin: 0rem 1rem;
}
.profile_content {
	float: left;
	max-width: 54rem;
}
.profile_content p{
	margin: 0rem;
}
.profile_name {
	font-size: 1.5em;
	font-weight: bold;
}
.members_main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.members_below {
	height: calc(100vh - 95.3rem);
}
.profile {
	width: 70rem;
	padding: 5rem 0rem;
}
