<div class="footer">
	<div><img src="assets/icon_header.png" alt="Ushinohi WEB" class="footer-logo"/></div>
	<a href="https://line.me/R/ti/p/%40zcz5807y" target="_blank">
		<img height="36" border="0" alt="Add friend" src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png">
	</a>
	<div class="fotter-rights">
		<p>Copyright &copy; 2018 Ushinohi Project All Right Reserved.</p>
	</div>
</div>